<html>
<head>
  <script src="https://kit.fontawesome.com/d60ba0d5fe.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<div class="navbar d-flex justify-content-between align-items-center">
  <h1 class="title"><%= link_to "Articles", articles_path %></h1>
  <%= link_to '<button class="btn-new-article" type="button">New Article</button>'.html_safe, new_article_path %>
</div>

<div class="container">
    <% @articles.each do |article| %>
  <div class="article shadow mb-5 pb-2 w-50">
    <img class="rounded-top" src="https://source.unsplash.com/1600x900/?business" alt="">
      <h2 class="title-article ml-4 mt-2"><%= article.title %></h2>
        <p class="content-article ml-4"><%= article.content %></p>
        <%= link_to '<button class="rounded ml-4" type="button">Read</button>'.html_safe, article_path(article.id) %></p>
  </div>
    <% end %>
</div>

</html>
