<div class="navbar d-flex justify-content-between align-items-center">
    <h1 class="title"><%= link_to "Articles", articles_path %></h1>
    <%= link_to '<button class="btn-new-article" type="button">New Article</button>'.html_safe, new_article_path %>
</div>

<div class="wrapper-article">
  <h1><%= @article.title %></h1>

  <p> <%= @article.content %></p>

  <%= link_to "Back", articles_path %>

  <%= link_to "Edit", edit_article_path(@article.id) %>
  <%= link_to "Delete".html_safe, article_path(@article.id), method: :delete, data: { confirm: "Are you sure?"} %>
</div>

